$color: #f05a22
body
  font-family: Tahoma
.container
  width: 1140px
  margin-left: auto
  margin-right: auto
  display: flex
  justify-content: center
  align-items: center
.container_2
  width: 1140px
  margin-left: auto
  margin-right: auto
.header
  padding-top: 77px
  padding-bottom: 96px
  &-img
    vertical-align: middle
  &-text
    padding: 30px
    vertical-align: middle
    &__title
      font-size: 48px
      font-weight: 700
      margin-bottom: 15px
    &__subtitle 
      font-size: 30px
      font-weight: 400
      margin-bottom: 35px
    &__discr 
      font-size: 18px
      font-weight: 400
      line-height: 27px
      max-width: 530px
      margin-bottom: 47px
    &__price
      font-size: 48px
      font-weight: 400
      margin-bottom: 53px
.button
  border: 5px
  background-color: $color
  font-size: 24px
  font-weight: 700
  color: #ffffff
  padding: 22px 43px
  &-o
    color: $color
    background-color: transparent
    border: 2px solid $color
    padding: 20px 43px
.section-title
  font-size: 30px
  font-weight: 700
  line-height: 27px
  text-align: center
  margin-bottom: 87px
.features
  background-color: #f2f2f2
  padding-top: 90px
  padding-bottom: 199px
  &-block
    text-align: center
    width: 25%
    float: left
    &__text 
      font-size: 18px
      font-weight: 400
      line-height: 22px
