body {
  /* border: 1px ridge red; */
  margin: 0;
  padding: 0;
  font-family: 'Roboto',sans-serif;

}
.Преимущест {
  /* border: 1px ridge red; */
  font-weight: bolder;
  color: #393939;
  font-size: 30px;
  line-height: 36px;
  padding: 63px 0 20px 0;
  margin: auto;
  height: 100px;
  width: 350px;
  text-align: center;
}
.Преимущества {
  color: #fd58b2;
}
div {
  /* border: 1px ridge red; */
  text-align: center;
  clear: both;
  height: auto;
  width: auto;
}
figure {
  /* border: 1px ridge red; */
  width: 200px;
  height: 250px;
  text-align: center;
  vertical-align: middle;
  margin: 0 50px ;
  display: inline-block;
}