body {
  font-family: tahome, Arial, Helvetica, sans-serif;
  background-color: rgba(22, 22, 22, 0.445)

}
h1 {
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: blue;
}
h3{
  font-size: 50px;
  text-align: right;
  color: red;
  
}
p {
  text-align: left;
  font-style: italic;
  color: orange
}
.Образование {
  font-size: 14px;
  padding: 30px 0 0 0;
}
.Опыт {
  font-size: 14px;
  padding: 30px 0 ;
}
.Интересы {
  font-size: 14px;
  padding: 300px ;
}