body {
  background: silver;
}
p {
  color: darkblue;
  text-align: justify;
}
img {
  width: 100%;
  height: auto;
}
.brd {
  border:  6px ridge;
  padding: 20px;
}
.заголовок {
  text-align: center;
  font-weight: bolder;
  color: red;
}
.заметка {
  font-weight: bolder;
}